$dark-red:rgba(188, 49, 49, 0.90);
$white:white;
$color1:#ac3031;
$color2:#282828;
$grey1:#5a5a5a;
$grey2:#7a7a7a;
@mixin font_size($size:14px, $color: black, $lh: 15px)
{
	font-size:$size;
}

@mixin transition($duration:0.3s) {
	transition:all $duration ease;
	-moz-transition:all $duration ease;
	-webkit-transition:all $duration ease;
}
$ref:"/assets/";