<div class="forth_block">
<div class="block4_column">
<p class="block4_header">BREAKFAST</p>
<div class="block4_item">
<img class="block4_img" src="/assets/block4_img1.jpg" alt="">
<p>
	<strong>DUCK BREAST</strong>
</p>
<p>Smoked confit fennel & umbles</p>
<span class="block4_price">25$</span>
</div>
<div class="block4_item">
<img class="block4_img" src="/assets/block4_img2.jpg" alt="">
<p>
	<strong>DUCK BREAST</strong>
</p>
<p>Smoked confit fennel & umbles</p>
<span class="block4_price">20$</span>
</div>
<div class="block4_item">
<img class="block4_img" src="/assets/block4_img3.jpg" alt="">
<p>
	<strong>DUCK BREAST</strong>
</p>
<p>Smoked confit fennel & umbles</p>
<span class="block4_price">25$</span>
</div>
</div>
<div class="block4_column">
<p class="block4_header">BREAKFAST</p>
<div class="block4_item">
<img class="block4_img" src="/assets/block4_img4.jpg" alt="">
<p>
	<strong>DUCK BREAST</strong>
</p>
<p>Smoked confit fennel & umbles</p>
<span class="block4_price">30$</span>
</div>
<div class="block4_item">
<img class="block4_img" src="/assets/block4_img5.jpg" alt="">
<p>
	<strong>DUCK BREAST</strong>
</p>
<p>Smoked confit fennel & umbles</p>
<span class="block4_price">24$</span>
</div>
<div class="block4_item">
<img class="block4_img" src="/assets/block4_img6.jpg" alt="">
<p>
	<strong>DUCK BREAST</strong>
</p>
<p>Smoked confit fennel & umbles</p>
<span class="block4_price">32$</span>
</div>
</div>
</div>