.forth_block{
	position:relative;
	height:600px;
}
.block4_header{
	font-size:32px;
	color:#5a5a5a;
	margin-bottom:40px;
}
.block4_column{
	display:inline;
	float:left;
	height:700px;
	width:42%;
	padding:0px 0px 0px 60px;
}
.block4_img{
	float:left;
	height:120px;
	width:120px;
	border-radius:50%;
}
.block4_item{
	display:block;
	height:140px;
}
.block4_item p{
	text-align:left;
	margin-left:150px;
	width:250px;
	height:20px;
	font-size:14px;
	letter-spacing:0.5px;
	color:#5a5a5a;
}
.block4_price{
	position:absolute;
	float:right;
	margin:-55px 0px 0px 320px;
	font-size:14px;
	color:white;
	padding:8px 15px;
	background-color:#ac3031;
}