@import "../../variables.scss";
.forth_block{
	position:relative;
	height:600px;
}
.block4_header{
	@include font_size(32px);
	color:$grey1;
	margin-bottom:40px;
}
.block4_column{
	display:inline;
	float:left;
	height:700px;
	width:42%;
	padding:0px 0px 0px 60px;
}
.block4_img{
	float:left;
	height:120px;
	width:120px;
	border-radius:50%;
}
.block4_item{
	display:block;
	height:140px;
	p{
	text-align:left;
	margin-left:150px;
	width:250px;
	height:20px;
	@include font_size();
	letter-spacing:0.5px;
	color:$grey1;
	}
}
.block4_price{
	position:absolute;
	float:right;
	margin:-55px 0px 0px 320px;
	@include font_size();
	color:white;
	padding:8px 15px;
	background-color:$color1;
}